.home-container {
    margin-top: 50px;
    padding: .3rem 1rem;
    display: flex;
}

.search-box {
    /* width: 50%; */
    margin-left: 30%;
}

.search-button {
    margin-left: 20px;
}

.like:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    position: absolute;
    
}
.card-wrapper:hover {
    box-shadow: 0 0 5px 1px black;
    transition: 0.3s;
}

.forecast {
    bottom: 0;
    /* margin-bottom: 20px; */
}

@media only screen and (max-width: 400px) {
    .forecast {
        position: relative;
        margin-top:100px;
        flex-direction: column-reverse;
    }
    .daily-weather {
        margin-top:100px;
        flex-direction: column-reverse;
    }
}