.home-container {
    margin-top: 50px;
    padding: .3rem 1rem;
}

.search-box {
    margin-left: 30%;
}

.search-button {
    margin-left: 20px;
}

.like:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    position: absolute;
}
.wrapper:hover {
    box-shadow: 0 0 5px 1px black;
    transition: 0.3s;
}
.card-wrapper:hover {
    box-shadow: 0 0 5px 1px black;
    transition: 0.3s;
}

.forecast {
    bottom: 0;
    /* margin-bottom: 20px; */
}

@media only screen and (min-width: 400px) {
    .forecast {
        bottom: 0;
    }
}